
<p-dialog header="Candidate Detail" [(visible)]="display" modal="modal" width="500"
  (onHide)="closeFormDialog()" [responsive]="true">

  <form #candiateForm="ngForm" style="height: 400px;">
    <div class="form-group">
        <div class="ui-inputgroup">
            <span class="ui-float-label">
                <input type="text" id="candidateName" pInputText [(ngModel)]="candidate.name" name="name" required />
                <label for="candidateName">Candidate Name</label>
            </span>
            <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
        </div>
    </div>
    <div class="form-group">
      <div class="ui-inputgroup">
          <span class="ui-float-label">
              <p-calendar id="dob" [ngModel]="candidate.dob | date: 'MM/dd/yyyy'"  name="dob"  [showIcon]="true"
                  [monthNavigator]="true" [yearNavigator]="true" yearRange="1925:2015"   (onSelect)="getDOB($event)"></p-calendar>
              <label for="dob">DOB</label>
          </span>
      </div>
    </div>
    <div class="form-group">
      <div class="ui-inputgroup">
          <p-dropdown [options]="genderList" [(ngModel)]="selectedGender" name="gender" optionLabel="name" [style]="{'width':'150px'}"></p-dropdown>
          <span class="ui-inputgroup-addon"><i [ngClass]= "(selectedGender.code=='M'? 'fa fa-male':'fa fa-female')"></i></span>
      </div>
    </div>

    <div class="form-group">
        <button pButton type="button" (click)="addFavourite()" label="Add Favourite"  class="ui-button-info"></button>
    </div>
    <div class="from-group">
      <app-favourite-info *ngFor="let favourite of candidate.favouriteCollection"
          [favourite]="favourite" (deleteFavouriteNotify) = "deleteFavourite($event)" ></app-favourite-info>
    </div>
  </form>

  <p-footer>
      <button type="button" pButton icon="fa-check" label="Save"
          (click)="saveCandidateInfo()" [disabled]="!candiateForm.form.valid"></button>
      <button type="button" pButton icon="fa-close" label="Cancel"
        (click)="closeFormDialog()" class="ui-button-danger"></button>
  </p-footer>
</p-dialog>
